{% extends 'layout.html' %}

{% block title %}
    About - ShareLit
{% endblock %}

{% block body %}
    <div class="container">
        <div class="further-down text-center">
            <h1 class="mb-3">About</h1>
            <div>
                ShareLit is a crowdsourced online library empowering first-generation, low-income students to conveniently get the books they need to succeed.
            </div>
            <div class="mb-3">
                Chat <a href="/chat">here</a>.
            </div>
        </div>
    </div>
{% endblock %}
