{% extends 'layout.html' %}

{% block title %}
    ShareLit
{% endblock %}

{% block body %}
    <div class="align-items-center container">
        <div class="text-center" id="intro">
            <h1>
                Read. Share. Thrive. One book at a time.
            </h1>
            <p>
                ShareLit lets you share and borrow books from others around the world.
            </p>
            <button class="btn btn-primary m-2" onclick="location.href='/register'">
                Get Started
            </button>
        </div>
    </div>
{% endblock %}
