{% extends 'layout.html' %}

{% block title %}
    ShareLit
{% endblock %}

{% block body %}
    <div class="container">
        <div class="further-down text-center">
            <h1 class="mb-3">
                Read. Share. Thrive. One book at a time.
            </h1>
            <p>
                ShareLit lets you share and borrow books with and from others around the world.
            </p>
            {% if session.user_id %}
                <a class="btn btn-warning m-2" href="/listings" role="button">
                    Get Started
                </a>
            {% else %}
                <a class="btn btn-warning m-2" href="/register" role="button">
                    Get Started
                </a>
            {% endif %}
        </div>
    </div>
{% endblock %}
