<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1" name="viewport">
        <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" rel="stylesheet">
        <link href="/static/styles.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com" rel="preconnect">
        <link crossorigin href="https://fonts.gstatic.com" rel="preconnect">
        <link href="https://fonts.googleapis.com/css2?family=Sora:wght@300;400;500;600&display=swap" rel="stylesheet">
        <script src="/static/layout.js"></script>
        <title>
            {% block title %}
            {% endblock %}
        </title>
    </head>
    <body class="bg-light">
        <nav class="bg-body-secondary navbar navbar-expand-lg shadow-sm">
            <div class="container">
                <a aria-current="page" class="navbar-brand" href="/">
                    ShareLit
                </a>

                <button aria-controls="navbar-supported-content" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-bs-target="#navbar-supported-content" data-bs-toggle="collapse" type="button">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbar-supported-content">
                    <ul class="mb-2 mb-lg-0 me-auto navbar-nav">
                        {% if session["user_id"] %}
                            <li class="nav-item">
                                <a class="nav-link" href="/listings">
                                    Book Listings
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/create">
                                    Create Listing
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/about">About</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/logout">Logout</a>
                            </li>
                        {% else %}
                            <li class="nav-item">
                                <a class="nav-link" href="/about">About</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/login">Login</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/register">Register</a>
                            </li>
                        {% endif %}
                    </ul>

                    {% if username %}
                        <ul class="navbar-nav ms-auto">
                            <!-- Display username right aligned -->
                            <li class="nav-item">
                                <a class="nav-link" href="/profile/{{ username }}">
                                    Profile - <strong>{{ username }}</strong>
                                </a>
                            </li>
                        </ul>
                    {% endif %}
                </div>
            </div>
        </nav>

        <div class="fade-in">
            <div id="status-message">
                {% if get_flashed_messages() %}
                    <header>
                        <div class="alert alert-primary mb-0 text-center" role="alert">
                            {{ get_flashed_messages() | join(" ") | safe }}
                        </div>
                    </header>
                {% endif %}
            </div>

            {% block body %}
            {% endblock %}
        </div>

        <script crossorigin="anonymous" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
    </body>
</html>
