{% extends 'layout.html' %}

{% block title %}
    Book Listings - ShareLit
{% endblock %}

{% block body %}
    <div class="container">
        <div class="mt-5 text-center">
            <h1 class="mb-3">Book Listings</h1>
            <p>
                Find a textbook or your new favorite read.
            </p>
            <a class="btn btn-warning m-2" href="/create" role="button">
                Create New Listing
            </a>
        </div>
        <!-- Create table for Listings-->
        <div class="mt-4">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Author</th>
                        <th>User</th>
                    </tr>
                </thead>
                <tbody>
                    {% for listing, user in listings_and_users %}
                        <tr>
                            <td>{{ listing.title }}</td>
                            <td>{{ listing.author }}</td>
                            <td>{{ user.username }}</td>
                            <td>
                                {% if session.user_id != user.id %}
                                    <a class="btn btn-warning" href="/listings/{{ listing.id }}" role="button">
                                        Info
                                    </a>
                                {% else %}
                                    <form method="post">
                                        <input type="hidden" name="listing-id" value="{{ listing.id }}">
                                        <input type="hidden" name="creator-id" value="{{ user.id }}">
                                        <input class="btn btn-warning" type="submit" value="Delete">
                                    </form>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
